# PostgreSQL
POSTGRES_HOST=database-1.cxcqkckom1kc.ap-south-1.rds.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=truconsent2025

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=mysql
MYSQL_USER=root
MYSQL_PASSWORD=password

# MariaDB
MARIADB_HOST=localhost
MARIADB_PORT=3306
MARIADB_DB=mysql
MARIADB_USER=root
MARIADB_PASSWORD=password

# Oracle
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=ORCL
# ORACLE_SID=xe
ORACLE_USER=system
ORACLE_PASSWORD=password

# SQL Server
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_DB=master
MSSQL_USER=sa
MSSQL_PASSWORD=password

# Aurora (MySQL or PostgreSQL)
AURORA_ENGINE=mysql
AURORA_HOST=aurora-cluster.cluster-xyz.us-east-1.rds.amazonaws.com
AURORA_PORT=3306
AURORA_DB=mydb
AURORA_USER=admin
AURORA_PASSWORD=password

# Snowflake
SNOWFLAKE_ACCOUNT=xy12345.us-east-1
SNOWFLAKE_USER=user
SNOWFLAKE_PASSWORD=password
SNOWFLAKE_DB=DEMO_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN
